/* CSS Document */

#page1 
	{
	width: 100%;
	}
	
#subdiv 
	{
        border-style:solid;
        border-color:#DEE6DD;
        border-width:4px;
        padding: 10px;
	margin-left:15px;
        margin-top: 10px;
	width: 95%;
	height:200px;
	}
		
#leftcolumn 
	{
	background:#330099;
	width: 30%;
	height:200px; 
	float: left
	}
#rightcolumn 
	{
        font-size: 40px;
	width:70%;
	height:200px; 
	float: right
}
         